*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body	{
	background: #444;
	font-family: "Segoe UI", Tahoma, Verdana;
	height: 100vh;
	color: #ffffff;
}

nav	{
	height: 5vh;
	width: 100%;
	background: lightseagreen;
}

.nav-links	{
	width: 50%;
	margin-left: auto;
	list-style: none;
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}

.nav-links a	{
	text-decoration: none;
	color: #fff;
}

span {
  color: #ffcd00;
}

#blog {
  padding: 50px;
  line-height: 1.5;
}
h2 {
  margin-top: 70px;
}

@media screen and (max-width: 768px)	{
	nav	{
		position: relative;
	}
	.hamburger	{
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translate(-5%, -50%);
	z-index:1;
}
	.ham-strokes	{
	height: 3px;
	width: 25px;
	background: #fff;
	margin: 5px;
}
	.nav-links	{
		position: fixed;
		background: lightseagreen;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 90% -10%);
		transition: all 1s ease-out;
		font-size: 1.5rem;
	}
	.nav-links.open	{
		clip-path: circle(1000px at 90% -10%);
	}
}


#blog-main-img  {
  width: 700px;
  height: auto;
  border-radius: 0;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: red;
}
